.add-task {
  background: rgb(53, 53, 53);
  width: 55%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-items: baseline;
  margin-top: 2rem;
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

h2 {
  margin: auto;
}

input[type=number] {
  flex: 1 1 0;
}

.add-task-button {
  flex: 1 0 10%;
  padding: 0 0.6rem;
  margin: 10px;
  font-size: 1rem;
  border-radius: 1.5px;
  height: 30px;
  border: 1px solid #e0e0e0;
}

@media (max-width: 30rem) {
  .add-task {
    width: 100%;
  }
}