.main {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 17%);
  color: rgb(211, 214, 216);
  padding: 20px;
}

header > span {
  font-size: 2.4rem;
  margin: auto;
}

header {
  display: flex;
  margin: 25px;
}